

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{{ url_for('static', filename="vendor/bootstrap/dist/js/bootstrap.js") }}"></script>
<link href="{{ url_for('static', filename='vendor/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename="js/typeahead_old.js") }}"></script>
<link href="{{ url_for('static', filename='css/typeahead_new.css') }}" rel="stylesheet">



<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="static/MatchPanel.js"></script>
<script src="static/autocomplete.js"></script>

<style>

.chart rect {
  fill: steelblue;
}

.chart text {
  fill: black;
  font: 15px sans-serif;
  text-anchor: front;
}

.bar:hover {
  fill: brown;
}

img {
    border-radius: 10px 10px 10px 10px;
}

.panel-body {
	background-color: #dff0d8;
	
}

.bs-example {
margin-left: 0;
margin-right: 0;
background-color: #fff;
border-width: 1px;
border-color: #ddd;
border-radius: 4px 4px 0 0;
box-shadow: none;
}

.nav-pills>li+li {
display: block;
padding: 0px 1px 1px 0px;

}

.nav-pills>li>a {
background-color: #eee;
}

.btn-lg, .btn-group-lg>.btn {
padding: 10px 16px;
font-size: 18px;
line-height: 1.33;
border-radius: 6px;
background-color: #5cb85c;
}

.label-danger>a {
color: white;
background-color: #d9534f;
}

</style>

<div class="”container”">

	<div style="padding-left: 15.5px">
	<h1><a href="”#”">UpFindr</a></h1>
	</div>

	<div class="col-sm-3">
		<div class="panel panel-default" al>
	  		<div class="panel-body">
		    	<form role="form">
				  <div class="form-group">
				    <label for="lb1">Your Meetup ID</label>
				    <input type="" class="form-control" id="ID_Meetupid" placeholder="eg: 148054682" size="37">
				  </div>
				  <div class="form-group">
				    <label for="lb2">Your Activity</label>
				    <input type="" class="form-control" id="ID_PrimeActivity" value="Snowboarding" size= "37">
				   </div>
				  <div class="form-group">
				    <label for="lb3">Your Other Top Interests</label>
				    <input type="" class="form-control" id="ID_Interest1" value="Trance" size= "37">
				    <input type="" class="form-control" id="ID_Interest2" placeholder="eg: Swimming" size= "37">
				    <input type="" class="form-control" id="ID_Interest3" placeholder="eg: Electronic Music" size= "37">
				 
				  </div>
				  <div align="center">	
				  <button ID="ID_getmatch" type="submit" class="btn btn-lg">Match Now!</button>
				  </div>
			</form>

			</div>
		</div>
	</div>

	<div class="col-md-6" id="datapanel">
	
        </div>

</div>





<script type=text/javascript>





</script>




