

{% block content %}

{% for r in res %}
total interests in common: {{r[0]}}<br>
name: {{r[1]}}<br>
PID: {{r[2]}}<br>
{{newints[loop.index]}}<p>

{% endfor %}


{% endblock %}

<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
  <li><a tabindex="-1" href="#">Action</a></li>
  <li><a tabindex="-1" href="#">Another action</a></li>
  <li><a tabindex="-1" href="#">Something else here</a></li>
  <li class="divider"></li>
  <li><a tabindex="-1" href="#">Separated link</a></li>
</ul>


  	<div class="panel-body">
	    <form action="" method="post" name="index">
	    {{form.hidden_tag()}}

	    <p>
		Please enter your Meetup ID:<br>
		{{form.PID1(size=30)}}<br>
		What activity?:<br>
		{{form.Interest1(size=30)}}<br>
		Specify a Top Interest:<br>
		{{form.Interest2(size=30)}}<br>
		Specify a Top Interest:<br>
		{{form.Interest3(size=30)}}<br>
		Specify a Top Interest:<br>
		{{form.Interest4(size=30)}}<br>
	    </p>
	    <p><input type="submit" value="Get Match!" class="btn btn-default btn-lg"></p>
		</form>
	</div>
